<nav>
    <div class="logo-outer">
        <i class="fa-solid fa-burger logo"></i>
        <a href="/"><span>Tanawul</span></a>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Partner with Us</a></li>
    </ul>
    <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-bag-shopping"></i>
        <form action="/register">
            <button class="btn btn-sm">Login</button>
        </form>
    </div>
    <img src="/assets/appImg/emoji1.png" alt="">
</nav>