<nav>
    <div class="logo-outer">
        <i class="fa-solid fa-burger logo"></i>
        <a href="/"><span>Tanawul</span></a>
    </div>

    <ul>
        
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Menu</a></li>
        <li><a href="/restaurant/new">Partner with Us</a></li>

    </ul>
    <div class="search">
        <div class="search2">
            
                <a  href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
                <!-- onclick="displayCart()" -->
                <% if(cartNumber) {%>
                    <span class="cart-number">
                        <%= cartNumber %>
                            <% } %>
                    </span>
            
        </div>
        <% if(user?.role=='admin' ){ %>
            <a href="/admin">Dashboard</a>
            <% } else if(user?.role=='vendor' ) {%>
                    <a href="/restaurant/admin">Dashboard</a>
                    <% } else { %>
                        <% if(user){ %>
                            <form action="/auth/logout">
                                <button class="btn btn-sm">Logout</button>
                            </form>
                            <a href="/user/profile"><img src="/assets/appImg/emoji1.png" alt=""></a>

                            <% } else { %>
                                <form action="/auth">
                                    <button class="btn btn-sm">Login</button>
                                </form>

                                <%}%>
                    <% } %>
    </div>

</nav>
<script>
    // document.getElementsByClassName("no-btn1")[0].addEventListener("click",(e)=>{
    //     // e.preventDefault()
    //     console.log("click")})
</script>